@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;800&family=Lexend+Giga:wght@400;600;800&family=Lexend:wght@400;600;800&family=Inter:wght@400;600;800&family=Space+Grotesk:wght@400;600;700&display=swap');
@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
